@import "tailwindcss";

@layer components {
  .character {
    @apply transition-colors duration-10;
  }

  .character.correct {
    @apply text-black;
  }

  .character.incorrect {
    @apply bg-amber-700;
    /* @apply text-amber-800; */
  }

  .character.idle {
    @apply text-gray-500;
  }

  .caret {
    @apply transition-transform duration-30;
  }

  .caret.visible {
    @apply opacity-1;
  }
  .caret.invisible {
    @apply opacity-0;
  }
}

@layer utilities {
  .animate-caret {
    animation: caretBlink 0.5s linear infinite alternate;
  }
}

@keyframes caretBlink {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}
